<html>
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Update Attendance</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="profile page.css" type="text/css">
<form>
<title>My Profile</title>

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark"> 
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> 
               <span class="icon-bar"></span>                        
            </button>  -->
            <img src="pes.jpg"  alt="LOGO" style="width:60px;height:63px">
          </div>
        
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="webprofile.html" id="domains" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">MY PROFILE</a></li>
              <li class="active"><a href="index.html" id="add" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">ADD STUDENT</a></li>
              <li class="active"><a href="update.html" id="attendance" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">EDIT ATTENDANCE</a></li>
              <li class="active"><a href="view.html" id="view" data-toggle="collapse" data-target="#submenu4" aria-expanded="false">VIEW ATTENDANCE</a></li>
              

              
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="loginmp.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
        
          </div>
        </div>
      </nav>
</form>
<table>
    <!-- <img style="margin-left:10px;" src="supriyamaam.jpg" width="100" height="100" /> -->
    </table>
<fieldset>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My Profile   </color></h2>
    &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <img style="margin-left:10px;" src="supriyamaam.jpg" width="100" height="100" />
    &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <br>
    &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<label for="name"><b>Name</b></label>
    <span>&#58;        Prof.Supriya MC</span><br/>

    <br/>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
	<label for="Department"><b>Department</b></label>
    <span>&#58;         Computer Science</span><br/>

    <br/>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label for="email"><b>Email</b></label>
    <span>&#58;          supriya@pesu.edu</span><br/>
    
    <br/>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label for="subjects"><b>Subjects teaching </b></label>
    <span>&#58;          MPCA,Networking</span><br/>

    <br/>&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <label for="classes"><b>Classes teaching</b></label>
    <span>&#58;          4H , 6D</span><br/>
    <br>

</fieldset>
</body>
</html>